{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "experimentalTernaries": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "printWidth": 80,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}